{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <main class="tm-main">
        <div class="row tm-row tm-mb-60">
            <div class="col-lg-6 tm-mb-60 tm-person-col">
                <div class="media tm-person">
                    <img src="{{url_for('static', filename='img/samuel.jpg')}}" alt="Image" class="img-fluid mr-4">
                    <div class="media-body">
                        <h2 class="tm-color-primary tm-post-title mb-2">Samuel Esteban Cano Chocce</h2>
                        <h3 class="tm-h3 mb-3">202116508</h3>
                        <p class="mb-0 tm-line-height-short">
                            Alumno de Ciencias de la computación de quinto ciclo con intereses en Inteligencia
                            artificial, machine learning y seguridad informática
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 tm-mb-60 tm-person-col">
                <div class="media tm-person">
                    <img src="{{url_for('static', filename='img/david.jpg')}}" alt="Image" class="img-fluid mr-4">
                    <div class="media-body">
                        <h2 class="tm-color-primary tm-post-title mb-2">David Joaquín Niño Suárez</h2>
                        <h3 class="tm-h3 mb-3">202112116</h3>
                        <p class="mb-0 tm-line-height-short">
                            Alumno de Ciencias de la computación de quinto ciclo con intereses en Inteligencia
                            artificial, machine learning y seguridad informática
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 tm-mb-60 tm-person-col">
                <div class="media tm-person">
                    <img src="{{url_for('static', filename='img/eduardo.jpg')}}" alt="Image" class="img-fluid mr-4">
                    <div class="media-body">
                        <h2 class="tm-color-primary tm-post-title mb-2">Eduardo Elías Puglisevich Vergara</h2>
                        <h3 class="tm-h3 mb-3">20201e850</h3>
                        <p class="mb-0 tm-line-height-short">
                            Alumno de Ciencias de la computación de quinto ciclo con intereses en Inteligencia
                            artificial, machine learning y seguridad informática
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 tm-mb-60 tm-person-col">
                <div class="media tm-person">
                    <img src="{{url_for('static', filename='img/mauro.jpg')}}" alt="Image" class="img-fluid mr-4">
                    <div class="media-body">
                        <h2 class="tm-color-primary tm-post-title mb-2">Mauro Imanol Obermeyer Adauto Angulo</h2>
                        <h3 class="tm-h3 mb-3">202111197</h3>
                        <p class="mb-0 tm-line-height-short">
                            Alumno de Ciencias de la computación de quinto ciclo con intereses en Inteligencia
                            artificial, machine learning y seguridad informática
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 tm-mb-60 tm-person-col">
                <div class="media tm-person">
                    <img src="{{url_for('static', filename='img/daniela.jpg')}}" alt="Image" class="img-fluid mr-4">
                    <div class="media-body">
                        <h2 class="tm-color-primary tm-post-title mb-2">Daniella Alexandra Crysti Vargas Saldaña</h2>
                        <h3 class="tm-h3 mb-3">202219211</h3>
                        <p class="mb-0 tm-line-height-short">
                            Alumno de Ciencias de la computación de quinto ciclo con intereses en Inteligencia
                            artificial, machine learning y seguridad informática
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row tm-row">
            <hr class="col-12">
            <div class="col-md-6 col-12 tm-color-gray">
                Source: <a rel="nofollow" target="_parent" href="#" class="tm-external-link">GitHub</a>
            </div>
            <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                Copyright 2023 Grupo 2 Álgebra lineal
            </div>
        </footer>
    </main>
</div>
{% endblock %}