{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <main class="tm-main">
        <!-- do smth -->
        <footer class="row tm-row">
            <hr class="col-12">
            <div class="col-md-6 col-12 tm-color-gray">
                Source: <a rel="nofollow" target="_parent" href="#" class="tm-external-link">GitHub</a>
            </div>
            <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                Copyright 2023 Grupo 2 Álgebra lineal
            </div>
        </footer>
    </main>
</div>
{% endblock %}